<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />
  <title>Vue.js 애완용품샵</title>
</head>
<body>
    <div id="app">
      <header>
        <div class="navbar navbar-default">
          <button type="button" class="btn btn-default btn-lg pull-right" v-on:click="showCheckout">
            <span class="glyphicon glyphicon-shopping-cart">
              {{cartItemCount}}
            </span>
            <span>체크아웃</span>
          </button>
          <h1 v-text="sitename"></h1>
        </div>
      </header>
      <main>
        <div class="product" v-if="showProduct">
          <div class="row">
            <div class="col-md-3">
              <figure>
                <img v-bind:src="product.image">
              </figure>
            </div>
            <div class="col-md-9">
              <h1>
                {{product.title | upperTitle}}
              </h1>
              <p v-html="product.description"></p>
              <p class="price">
                {{product.price | formatPrice}}
              </p>
            </div>
            <button class="btn btn-primary btn-lg" v-on:click="addToCart" v-if="canAddToCart">장바구니 담기</button>
            <button disabled="true" class="btn btn-primary btn-lg" v-else>장바구니 담기</button>
          </div>
        </div>
        <div v-else>
          <div class="col-md-6">
            <strong>이름:</strong>
            <input v-model="order.firstName" class="form-control" />
          </div>
          <div class="col-md-6">
            <strong>성:</strong>
            <input v-model="order.lastName" class="form-control" />
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <strong>주소:</strong>
            </div>
            <div class="col-md-12">
              <input v-model="order.address" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <strong>도시:</strong>
            </div>
            <div class="col-md-12">
              <input v-model="order.city" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2">
              <strong>주:</strong>
              <select v-model="order.state" class="form-control">
                <option disabled value=""></option>
                <option>AL</option>
                <option>AR</option>
                <option>CA</option>
                <option>NV</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
              <strong>우편번호:</strong>
              <input v-model="order.zip" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 boxes">
              <input type="checkbox" id="gift" value="true" v-model="order.gift">
              <label for="gift">선물로 보내기</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 boxes">
              <input type="radio" id="home" value="Home" v-model="order.method">
              <label for="home">자택</label>
              <input type="radio" id="business" value="Business" v-model="order.method">
              <label for="business">직장</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
            </div>
          </div>
          <div class="col-md-12 verify">
            <pre>
              이름: {{order.firstName}}
              성: {{order.lastName}}
              주소: {{order.address}}
              도시: {{order.city}}
              우편번호: {{order.zip}}
              주: {{order.state}}
              주소지: {{order.method}}
              선물: {{order.gift}}
            </pre>
          </div>
        </div>
      </main>
    </div>
    <script src="assets/js/data-property.js"></script>
</body>
</html>